@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";
@plugin "daisyui" {
  prefix: "dsy-";
  logs: false;
  exclude: properties; /* https://github.com/saadeghi/daisyui/issues/3882 */
}

@plugin "daisyui/theme" {
  name: "night";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
}

@plugin "daisyui/theme" {
  name: "cmyk";
  default: false;
  prefersdark: false;
  color-scheme: "light";
}
